[Desktop Entry]
Version=1.0
Type=Application
Name=Puffin Viewer
Comment=Viewer GUI for puffin profiler data.
Exec=/usr/bin/puffin_viewer
Icon=com.github.EmbarkStudios.puffin.puffin_viewer
StartupWMClass=com.github.EmbarkStudios.puffin.puffin_viewer
Terminal=false
Categories=Utility;Development;
Keywords=puffin;
MimeType=text/plain;
